.containerContact {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactCard {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}