.featured-post-container {
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;

  /* margin-top: 5rem; */
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 15px 20px 40px rgba(216, 211, 211, 0.4);
}

.piture-featured {
	/* width: 50vw; */
  height: 50vh;
	/* border-radius: 6px; */
	margin-right: 20px;
}

.featured-post-container div:nth-child(2){
	max-width: 40vw;
}

.featured-content-post {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  margin: 2rem;
}