.navbar {
  display: flex;
  width: 100%;
  position: fixed;

  align-items: center;
  justify-content: space-between;
  padding: 1rem;
    
  
  background: var(--color-background);
  box-shadow: 0 15px 15px rgba(104, 94, 94, 0.4);
}

.nav-link a {
  margin: 0px 30px;
  color: var(--color-danger);
}

.logo a {
  color: var(--color-danger);
}
