.navbar {
  display: flex;
  width: 100%; 

  align-items: center;
  justify-content: space-between;
  padding: 1rem;
    
  
  background: blueviolet;
}

.nav-link a {
  margin: 0px 10px;
  color: black;
}

.logo a {
  color: black;
}