.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  /* position: fixed; */

  box-shadow: 15px 15px 15px 15px rgba(104, 94, 94, 0.4);
}

.footer-link a {
  color: var(--color-danger);
}