.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  box-shadow: 15px 15px 15px 15px rgba(216, 211, 211, 0.4);
}

.footer-link a {
  color: var(--color-danger);
}